.activityContainer{
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 35px;
    
}

.cardsContainer{
    display: flex;
  flex-wrap: wrap;
  width: 85%;
  padding-bottom: 25px;
  position: relative;
}

.cardWrapper {
    flex-basis: calc(33.333% - 20px);
    margin: 10px;
  }

.paginationContainer{
    visibility: hidden;
}

.showPaginationContainer{
    visibility:visible;
}
