
/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 1;
    border: 8px solid var(--background-color);
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
    margin-top: 50px;
  }
  .loader::before {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: 8px solid var(--text-color);
    animation: l18 2s infinite linear;
  }
  @keyframes l18 {
      0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
  }