.emojiContainer{
    background-color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 10px;
    border-radius: 16px;
}

.emoji{
    width: 35px;
    height: 35px;
    padding: 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.emoji:hover{
  background-color: var(--gray);
  transition: background-color 0.1s ease;
  cursor: pointer;
}