.autocompleteContainer{
  width: 100%;
  position:relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

.suggestions{
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color:var(--gray);
    border:2px solid var( --text-color);
    margin-bottom: 8px;
    border-radius: 8px;
    max-height: 150px;
    overflow-y: auto;
    bottom: 100%;
  left: 0;
  color: #1b1d21;

}

.suggestions li img{
  width: 25px;
}

.suggestions li {
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding: 0 10px;
  height:30px;
  transition: background-color 0.1s ease-out;
  cursor: pointer;
  font-weight: 500;
  align-items: center;
}

.suggestions li:hover{
  background-color: var(--greenLight)
}


.search {
    position: relative;
    margin: 0 auto;
    transition: 0.5s;
    width: 100%;
  }
  
  .search label {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;
  }
  
  .search label input {
    background-color: var(--background-color);
    font-family: "Rubik", sans-serif;
    height: 46px;
    padding: 0 16px 0 38px;
    border: 2px solid var(--text-color);
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    color:var(--text-color);
  }
  
  .search label input:focus {
    box-shadow: 0 0 5px 3px var(--greenLight);
  }
  

  .selectedCountries{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    background-color:var(--gray);
    padding: 10px 10px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
  }


  .selectedCountries .flag{
    position: relative;
  }

  .selectedCountries .flag img{
    width: auto;
    height: 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   margin-right: 3px;
  }


  .selectedCountries .flag span{
    font-size: 10px;
    font-weight: 600;
    height: 10px;
    width: 10px;
   background-color: red;
   border-radius: 50%;
   color: rgb(58, 58, 58);
   display: flex;
   align-items: center;
   justify-content: center;
padding: 5px;
padding-bottom: 7px;
padding-left: 6px;
   position: absolute;
   right:-2px;
   top:-2px;
  }


