.customSelect {
  min-width: 200px;
  position: relative;
}

.optionsContainer {
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: var(--background-color);
  border: 2px solid var( --text-color);
  margin-top: 12px;
  overflow: hidden;
  border-radius: 12px;
}

.options {
  display: flex;
  align-items: center;
  padding: 0 15px 0 16px;
  height: 50px;
  transition: background-color 0.1s ease-out;
  margin-bottom: -4px;
  cursor: pointer;
  font-weight: 500;
}

.options:hover{
  background-color: var(--greenLight)
}

.options p{
  margin-left: 24px;
  transition: color .1s ease-out;
  position: relative;
}

.checkIcon {
  position: absolute;
  width: 15px;
}
