.activityCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  background-color: var(--background-color-cards);
  padding: 20px;
  position: relative;
  color: #1b1d21;
overflow: hidden;
width: 380px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}



.titleLogoHeader span {
  font-size: 1.5rem;
  border: 2px solid #1b1d21;
  border-radius: 8px;
  background-color: rgb(19, 133, 133);
  padding: 3px;
}

.titleLogoHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.titleLogoHeader h2 {
  font-weight: 400;
}

.acitivityCountries img {
  width: 32px;
  height: 20px;
  object-fit: cover;
  object-position: center center;
  border-radius: 6px;
  display: block;
  overflow: hidden;
}

.buttonHeader {
  position: absolute;
  right: 0;
  top: 0;
}

.buttonHeader button {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 1px;
  border: none;
  background-color: #1b1d21;
  color: white;
  border-bottom-left-radius: 8px;
  padding: 5px;
  transition: padding 0.1s linear;
 
}

.buttonHeader button span{
  font-size: 1rem;
  padding: 0 5px;
transition: padding 0.1s linear, font-size 0.1s linear;
  }
  
.buttonHeader button:hover span{
font-size: 2rem;
padding: 0px 10px 2px 10px;
display: block;
  transition: padding 0.2s linear, font-size 0.2s linear;
}



.buttonHeader button:active  {
  background-color: red;
}

.descriptionCards {
  font-size: 1.2rem;
  font-weight: 500;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  height: 51px;
}

.acitivityCountries {
  min-height: 25px;
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}

.activityInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-bottom: 5px;
  
}

.activityInfo span{
    font-weight: 500;
    background-color: var(--greenLight);
    border-radius: 26px;
    padding: 6px 12px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

