.navBarContainer{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: var(--background-color-white);
    position: sticky;
    left: 0;
    top: 0;
    z-index: 200;
    padding: 15px 40px 15px 38px;
    display: flex;
    border-bottom: 2px solid var(--text-color);
}


a, a:hover, a:active {
    color:var(--text-color);
}

.menu{
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0;
}

.menuButton{
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0;
}

.menuButton span{
    font-size: 1.1rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
  height: 45px;
  width: 45px;
}

.logoSection{
    display: flex;
    align-items: center;
    gap:30px;
}

.titleLogo{
    font-size: 2.2rem;
    font-weight: 700;
}

.menu span{
    font: inherit;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--text-color);
     padding: 8px;
     border: 2px solid var(--background-color-white);
}

.menu span:hover{
    border: 2px solid var(--text-color);
    border-radius: 8px;
    padding: 8px;
}

 .active{
    border: 2px solid var(--text-color);
    border-radius: 8px;
    padding: 8px;
    color: var(--background-color);
    background-color: var(--text-color);
}

a img{
    width: 20px;
    height: 20px;
}